/*----------------------------
---- start character-pre -
-----------------------------*/
.characterabout {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    margin: 8% 0%;
}
.box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin:2%;
    box-shadow: 0 20px 30px rgba(0,0,0,.1);
    line-height: 0;
    height: fit-content;
}
.box > img {
    width: 100%;
    height: calc(70% - 10vh);
    object-fit: cover;
    transition: .5s;
}
.box > span {
    font-size: 3.8vh;
    color: black;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.6;
}
.box:hover { flex: 1 1 10%; }
.box:hover > img {
    width: 100%;
    height: 100%;
}
/*----------------------------
---- end character-pre -
-----------------------------*/
/*----------------------------
---- start talk-with-us  -------
-----------------------------*/
.talk-with-us{
    font-family: 'Mali', cursive;
}
.talk-with-us-chat{
    border-radius: 24px;
    border: #8E5AFF solid 8px;
}
.talk-with-us span{
    color: #ff6801;
}
/*----------------------------
---- end talk-with-us  -------
-----------------------------*/
/*----------------------------
---- start talk-header  -------
-----------------------------*/
.talk-header{
    min-height: 90px;
    width: auto;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: #8E5AFF;
    background-size: cover;
    background-position: center;
}
.talk-header .logo{
    height: 60px;
    width: 60px;
    margin-right: 12px;
}
.talk-header .left{
    padding: 2%;
}
.talk-header .right{
    padding: 3%;
}
.talk-header h1,h2,h3,h4,h5,h6{
    color: #ffffff;
    font-weight: bolder;
}
.talk-header i{
    color: #ffffff;
    width: 28px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    background-color: #ff6801;
    border-radius: 50%;
    font-size: 20px;
}
/*----------------------------
---- end talk-header  -------
-----------------------------*/
/*----------------------------
---- start talk-talk  -------
-----------------------------*/
.talk-talk .name{
    color: #616161;
    font-weight: bold;
    text-align: left;
}
.talk-talk .team{
    display: flex;
    margin: 2%;
}
.talk-talk .teambyme{
}
.talk-talk .team-img{
    width: 90px;
    margin: 2%;
}
.talk-talk img{
    position: absolute;
    bottom: 12px;
    width: auto;
    height: 90px;
}
.talk-talk p {
    display: block;
    border-radius: 1.15rem;
    line-height: 1.25;
    max-width: 65%;
    padding: 0.5rem .875rem;
    position: relative;
    word-wrap: break-word;
    font-size: 20px;
}
.talk-talk p::before,
.talk-talk p::after {
    bottom: -0.1rem;
    content: "";
    height: 1rem;
    position: absolute;
}
p.from-them {
    align-items: flex-start;
    background-color: #8E5AFF;
    color: #eeeeee;
}
p.from-them:before {
    border-bottom-right-radius: 0.8rem 0.7rem;
    border-left: 1rem solid #8E5AFF;
    left: -0.35rem;
    transform: translate(0, -0.1rem);
}
p.from-them::after {
    background-color: #ffffff;
    border-bottom-right-radius: 0.5rem;
    left: 20px;
    transform: translate(-30px, -2px);
    width: 10px;
}
p.from-me {
    align-self: flex-end;
    background-color: #ff6801;
    color: #fff;
}
p.from-me::before {
    border-bottom-left-radius: 0.8rem 0.7rem;
    border-right: 1rem solid #ff6801;
    right: -0.35rem;
    transform: translate(0, -0.1rem);
}

p.from-me::after {
    background-color: #ffffff;
    border-bottom-left-radius: 0.5rem;
    right: -40px;
    transform:translate(-30px, -2px);
    width: 10px;
}
/*----------------------------
---- end talk-talk  -------
-----------------------------*/
/*----------------------------
---- start talk-tailing  -------
-----------------------------*/
.talk-tailing{
    min-height: 90px;
    width: auto;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: #8E5AFF;
    background-size: cover;
    background-position: center;
}
.talk-tailing i{
    color: #ffffff;
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 38px;
    background-color: #ff6801;
    border-radius: 50%;
    font-size: 26px;
}
/*----------------------------
---- end talk-tailing  -------
-----------------------------*/
/*----------------------------
---- start popularity  -------
-----------------------------*/
.popularity {
    margin-top: 8%;
    margin-bottom: 8%;
    font-family: 'Mali', cursive;
    background-image: url("../imgs/png/popularity.png");
    background-size: cover;
    border-radius: 8px;
}
.popularity h2{
    background-image: url("../imgs/png/txt-paint_v2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    line-height: 1.8;
    color: black;
    font-weight: 900;
    padding: 10%;
}
.popularity .character-with-us{
    display: flex;
    position: relative;
    height: 200px;
}
.popularity img{
    position: absolute;
    height: 200px;
    width: auto;
}
.popularity .tody{
    margin-left: 18%;
}
.popularity .teena{
    margin-left: 18%;
}
.popularity .peemo{
    margin-left: 18%;
}
/*----------------------------
---- end popularity  -------
-----------------------------*/

.frame{
    border-radius: 25px;
    border: 2px solid black;
    padding: 40px;
    margin: 3%;
    width: fit-content;
    height: 5%;
    color: black;
    font-size: 20px;
    font-family: 'Mali', cursive;
    text-align: center;
}
/*----------------------------
---- end about ---
-----------------------------*/
@media(min-width: 992px) {
    /*----------------------------
    ---- start banner section ----
    -----------------------------*/
    .banner {
        padding-top: 14%;
        background-image: url("../imgs/png/banner1.png") ;
    }
    .banner .left {
        padding-left: 2%;
    }
    .banner .left p{
        padding: 3%;
        font-size: 24px;
    }
    .banner .left img{
        position: relative;
        display: block;
        margin: 0 auto;
        margin-top: -40%;
        height: 380px;
    }
    .banner .right img{
        height: 520px;
        margin-left: -24%;
    }
    /*----------------------------
    ---- end banner section -----
    -----------------------------*/
    /*----------------------------
    ---- start character-pre -
    -----------------------------*/
    .characterabout {
        height: 400px;
        display: flex;
        box-sizing: border-box;
    }
    .character-pre{
        padding-top: 8%;
        border-radius: 12px;
        background-image: url("../imgs/png/bg-character1.png");
        background-size: cover;
        font-weight: bolder;
        font-family: 'Mali', cursive;
    }
    .character-pre h1{
        color: #8E5AFF;
        font-weight: 900;
        text-align: center;
        background-size: 70%;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../imgs/png/txt-paint.png");

    }
    .box {
        flex: 1;
        height: fit-content;
        line-height: 0;
        transition: .5s;
        border-radius: 18px;
        background-color:  #ff8a3b;
        box-shadow: 0 20px 30px rgba(0,0,0,.1);
        overflow: hidden;
    }

    .box > img {
        width: 100%;
        height: calc(70% - 10vh);
        object-fit: cover;
        transition: .5s;
    }

    .box > span {
        font-size: 24px;
        color:  #ffffff;
        display: block;
        text-align: center;
        height: 10vh;
        line-height: 2.6;
    }

    /*----------------------------
    ---- end character-pre -
    -----------------------------*/

    .frame{
        display: inline-block;
        border-radius: 25px;
        border: 2px solid black;
        padding: 8px;
        width: fit-content;
        height: 5%;
        color: black;
        font-size: 12px;
        font-family: 'Mali', cursive;
        text-align: center;
    }
    /*----------------------------
    ---- start talk-header  -------
    -----------------------------*/
    .talk-header{
        min-height: 90px;
        width: auto;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        background-color: #8E5AFF;
        background-size: cover;
        background-position: center;
    }
    .talk-header .logo{
        height: 50px;
        width: 50px;
        margin-right: 8px;
    }
    .talk-header .left{
        padding: 1%;
    }
    .talk-header .right{
        padding: 2%;
    }
    .talk-header h1,h2,h3,h4,h5,h6{
        color: #ffffff;
        font-weight: bolder;
    }
    .talk-header i{
        color: #ffffff;
        width: 28px;
        height: 28px;
        text-align: center;
        line-height: 28px;
        background-color: #ff6801;
        border-radius: 50%;
        font-size: 18px;
    }
    /*----------------------------
    ---- end talk-header  -------
    -----------------------------*/
    /*----------------------------
    ---- start talk-with-us  -------
    -----------------------------*/
    .talk-with-us .character-with-chat{
        display: flex;
        max-height: 200px;
    }
    .talk-with-us .character-with-chat img{
        display: block;
        position: absolute;
        width: auto;
        height: 200px;
    }
    .talk-with-us .character-with-chat .tody{
        margin-top: -40% ;
    }
    .talk-with-us .character-with-chat .peemo{
        margin-top: -70%;
        margin-left: 85%;
    }
    .talk-with-us .character-with-chat .teena{
        margin-top: -120%;
        margin-left: -85%;
    }
    /*----------------------------
    ---- end talk-with-us -------
    -----------------------------*/
    /*----------------------------
    ---- start talk-tailing  -------
    -----------------------------*/
    .talk-tailing .left{
        margin-top: 3%;
        margin-left: 3%;
    }
    .talk-tailing .right{
        margin-top: 3%;
        margin-left: 3%;
    }
    /*----------------------------
    ---- end talk-tailing  -------
    -----------------------------*/

    /*----------------------------
    ---- start character-with-us ----
    -----------------------------*/
    .popularity .character-with-us .tody{
        margin-left: 12%;
    }
    .popularity .character-with-us .teena{
        margin-left: 28%;
    }
    .popularity .character-with-us .peemo{
        margin-left: 28%;
    }
    /*----------------------------
    ---- end character-with-us ----
    -----------------------------*/
}

@media(max-width: 991px) {
    /*----------------------------
    ---- start banner section ----
    -----------------------------*/
    .banner {
        padding-top: 16%;
        background-image: url("../imgs/png/banner2.png");
    }
    .banner .left{
        padding-top:12%;
    }
    .banner .left p{
        padding: 8%;
        font-size: 20px;
    }

    .banner .left img{
        height: 240px;
        display: block;
        margin: 0 auto;
    }
    .banner .right img{
        position: relative;
        height: 320px;
        display: block;
        margin: 0 auto;
    }
    /*----------------------------
    ---- end banner section ------
    -----------------------------*/
    /*----------------------------
    ---- start objective section -
    -----------------------------*/
    .objective h1,span{
        font-size: 32px;
    }
    .objective .left img,iframe{
        display: block;
        height: 220px;
        width: auto;
        margin: 0 auto;
    }
    .objective .left img {
        position: absolute;
        height: 220px;
        width: auto;
        margin-left: -3%;
    }
    .object .left iframe{
        position: relative;
    }
    .objective .left {
        position: relative;
    }
    .objective .right {
        position: relative;
        padding: 12px;
    }
    /*----------------------------
    ---- end objective section ---
    -----------------------------*/
    /*----------------------------
    ---- start about -
    -----------------------------*/
    .introduceline {
        position: relative;
    }
    .container .introduceline > img{
        width: 100%;
        height: 1480px;
    }
    /*----------------------------
    ---- start character-pre -
    -----------------------------*/
    .characterabout {
        display: flex;
        width: 100%;
        box-sizing: border-box;
        margin: 18% 0% 10%;
    }
    .character-pre{
        padding-top: 4%;
        max-height: 500px;
        border-radius: 12px;
        background-image: url("../imgs/png/bg-character1.png");
        background-size: cover;
        font-weight: bolder;
        font-family: 'Mali', cursive;
    }
    .character-pre h1{
        color: #8E5AFF;
        font-size: 20px;
        font-weight: 900;
        text-align: center;
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../imgs/png/txt-paint.png");

    }
    .box {
        flex: 1;
        height: fit-content;
        line-height: 0;
        transition: .5s;
        border-radius: 12px;
        background-color:  #ff8a3b;
        box-shadow: 0 20px 30px rgba(0,0,0,.1);
        overflow: hidden;
    }
    .box > img {
        width: 100%;
        height: calc(70% - 10vh);
        object-fit: cover;
        transition: .5s;
    }
    .box > span {
        font-size: 12px;
        color:  #ffffff;
        display: block;
        text-align: center;
        height: 10vh;
        line-height: 2.6;
    }
    .box:hover { flex: 1 1 10%; }
    .box:hover > img {
        width: 100%;
        height: 100%;
    }
    /*----------------------------
    ---- end character-pre -
    -----------------------------*/
    /*----------------------------
    ---- start talk-with-us  -------
    -----------------------------*/
    .talk-with-us .character-with-chat{
        display: flex;
        position: relative;
        height: 200px;
    }
    .talk-with-us .character-with-chat img{
        display: block;
        position: absolute;
        width: auto;
        height: 200px;
    }
    .talk-with-us .character-with-chat .tody{
        margin: 5% 0% 10% 8%;
    }
    .talk-with-us .character-with-chat .peemo{
        margin: 5% 0% 10% 30%;
    }
    .talk-with-us .character-with-chat .teena{
        margin: 5% 0% 10% 30%;
    }
    /*----------------------------
    ---- end talk-with-us -------
    -----------------------------*/
    /*----------------------------
    ---- start talk-talk  -------
    -----------------------------*/
    .talk-talk .name{
        color: #616161;
        font-weight: bold;
        text-align: left;
    }
    .talk-talk .team{
        display: flex;
        margin: 2%;
    }
    .talk-talk .team-img{
        width: 60px;
    }
    .talk-talk img{
        position: absolute;
        bottom: 12px;
        width: auto;
        height: 60px;
    }
    .talk-talk p {
        margin-left: 15%;
        display: block;
        border-radius: 1.15rem;
        line-height: 1.25;
        max-width: 100%;
        padding: 0.5rem .875rem;
        position: relative;
        word-wrap: break-word;
        font-size: 16px;
    }
    .talk-talk p::before,
    .talk-talk p::after {
        bottom: -0.1rem;
        content: "";
        height: 1rem;
        position: absolute;
    }
    /*----------------------------
    ---- end talk-talk  -------
    -----------------------------*/

    /*----------------------------
---- start talk-tailing  -------
-----------------------------*/
    .talk-tailing{
        min-height: 90px;
        width: auto;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        background-color: #8E5AFF;
        background-size: cover;
        background-position: center;
    }
    .talk-tailing i{
        color: #ffffff;
        width: 28px;
        height: 28px;
        text-align: center;
        line-height: 28px;
        background-color: #ff6801;
        border-radius: 50%;
        font-size: 20px;
    }
    .talk-tailing .left{
        margin-top: 3%;
        margin-left: 3%;
    }
    .talk-tailing .right{
        margin-top: 3%;
        margin-left: 3%;
    }
    /*----------------------------
    ---- end talk-tailing  -------
    -----------------------------*/
    .frame{
        display: inline-block;
        border-radius: 25px;
        border: 2px solid black;
        padding: 6px;
        width: fit-content;
        height: 5%;
        color: black;
        font-size: 14px;
        font-family: 'Mali', cursive;
        text-align: center;
    }

    /*----------------------------
    ---- start character-with-us ----
    -----------------------------*/
    .popularity .character-with-us img{
        display: block;
        width: auto;
        height: 160px;
        position: absolute;
        margin-top: 12px;
    }
    .popularity .character-with-us .tody{
        margin-left: 12%;
    }
    .popularity .character-with-us .teena{
        margin-left: 26%;
    }
    .popularity .character-with-us .peemo{
        margin-left: 28%;
    }
    /*----------------------------
    ---- end character-with-us ----
    -----------------------------*/

}

@media screen and (max-width: 880px){
    /*----------------------------
    ---- start talk-tailing  -------
    -----------------------------*/
    .talk-tailing{
        min-height: 60px;
        width: auto;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        background-color: #8E5AFF;
        background-size: cover;
        background-position: center;
    }
    .talk-tailing i{
        color: #ffffff;
        width: 28px;
        height: 28px;
        text-align: center;
        line-height: 28px;
        background-color: #ff6801;
        border-radius: 50%;
        font-size: 20px;
    }
    .talk-tailing .left{
        margin-top: 3%;
        margin-left: 3%;
    }
    .talk-tailing .right{
        margin-top: -5%;
        margin-left: 85%;
    }
    /*----------------------------
    ---- end talk-tailing  -------
    -----------------------------*/
    /*----------------------------
    ---- start talk-with-us  -------
    -----------------------------*/
    .talk-with-us .character-with-chat img{
        display: block;
        position: absolute;
        width: auto;
        height: 200px;
    }
    .talk-with-us .character-with-chat .tody{
        margin-left: 8%;
    }
    .talk-with-us .character-with-chat .peemo{
        margin-left: 30%;
    }
    .talk-with-us .character-with-chat .teena{
        margin-left: 30%;
    }
    /*----------------------------
    ---- end talk-with-us -------
    -----------------------------*/
    /*----------------------------
     /*----------------------------
    ---- start character-with-us ----
    -----------------------------*/
    .popularity .character-with-us img{
        display: block;
        width: auto;
        height: 160px;
        position: absolute;
        margin-top: 20px;
    }
    .popularity .character-with-us .tody{
        margin-left: 12%;
    }
    .popularity .character-with-us .teena{
        margin-left: 26%;
    }
    .popularity .character-with-us .peemo{
        margin-left: 28%;
    }
    /*----------------------------
    ---- end character-with-us ----
    -----------------------------*/
}

@media screen and (max-width: 767px){
    /*----------------------------
    ---- start talk-with-us  -------
    -----------------------------*/
    .talk-with-us .character-with-chat img{
        display: block;
        position: absolute;
        width: auto;
        height: 200px;
    }
    .talk-with-us .character-with-chat .tody{
        margin-left: 1%;
    }
    .talk-with-us .character-with-chat .peemo{
        margin-left: 30%;
    }
    .talk-with-us .character-with-chat .teena{
        margin-left: 30%;
    }
    /*----------------------------
    ---- end talk-with-us -------
    -----------------------------*/
    /*----------------------------
     /*----------------------------
    ---- start character-with-us ----
    -----------------------------*/
    .popularity h2{
        font-size: 20px;
    }
    .popularity .character-with-us img{
        display: block;
        width: auto;
        height: 160px;
        position: absolute;
        margin-top: 20px;
    }
    .popularity .character-with-us .tody{
        margin-left: 12%;
    }
    .popularity .character-with-us .teena{
        margin-left: 26%;
    }
    .popularity .character-with-us .peemo{
        margin-left: 28%;
    }
    /*----------------------------
    ---- end character-with-us ----
    -----------------------------*/
}

@media screen and (max-width: 570px){
    /*----------------------------
    ---- start popularity  -------
    -----------------------------*/
    .popularity h2{
        background-image: url("../imgs/png/txt-paint_v3.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        color: black;
        font-weight: 900;
        font-size: 20px;
        padding: 10%;
    }
    /*----------------------------
    ---- end popularity  -------
    -----------------------------*/
    /*----------------------------
    ---- start talk-tailing  -------
    -----------------------------*/
    .talk-tailing{
        min-height: 60px;
        width: auto;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        background-color: #8E5AFF;
        background-size: cover;
        background-position: center;
    }
    .talk-tailing i{
        color: #ffffff;
        width: 28px;
        height: 28px;
        text-align: center;
        line-height: 28px;
        background-color: #ff6801;
        border-radius: 50%;
        font-size: 20px;
    }
    .talk-tailing .left{
        margin-top: 3%;
        margin-left: 3%;
    }
    .talk-tailing .right{
        margin-top: -10%;
        margin-left: 80%;
    }
    /*----------------------------
    ---- end talk-tailing  -------
    -----------------------------*/
    /*----------------------------
    ---- start talk-with-us  -------
    -----------------------------*/
    .talk-with-us .character-with-chat img{
        display: block;
        position: absolute;
        width: auto;
        height: 140px;
    }
    .talk-with-us .character-with-chat .tody{
        margin-left: 2%;
    }
    .talk-with-us .character-with-chat .peemo{
        margin-left: 30%;
    }
    .talk-with-us .character-with-chat .teena{
        margin-left: 30%;
    }
    /*----------------------------
    ---- end talk-with-us -------
    -----------------------------*/
     /*----------------------------
    ---- start character-with-us ----
    -----------------------------*/
    .popularity .character-with-us img{
        display: block;
        width: auto;
        height: 120px;
        position: absolute;
        margin-top: 56px;
    }
    .popularity .character-with-us .tody{
        margin-left: 8%;
    }
    .popularity .character-with-us .teena{
        margin-left: 24%;
    }
    .popularity .character-with-us .peemo{
        margin-left: 26%;
    }
    /*----------------------------
    ---- end character-with-us ----
    -----------------------------*/
}
