footer {
    width: auto;
    height: auto;
    display: flex;
    position: relative;
    font-family: 'Mali', cursive;
    z-index: 12;
    color: #ffffff;
    --footer-background:#8E5AFF;
    background-color: var(--footer-background);
    justify-content: space-around;
}
footer h1,
footer h2,
footer h3 {
    color: #ffffff;
}
footer p{
    line-height: 2;
    font-size:24px;
}
footer i{
    text-align:center;
    line-height: 2;
    padding: 8px 0;
    height:42px;
    width: 42px;
    color: #ffffff;
    border: 1px solid;
    border-radius: 2rem;
    background-color: #ff6801;
}
footer .footer-icons i{
    border-radius: 1rem;
    font-size: 24px;
}
footer .footer-icons .fa-facebook{background-color: #1877f2}
footer .footer-icons .fa-youtube-play{background-color: #ff0000}

footer img{
    height: auto;
    width: 100%;
    max-width: 20rem;
}
footer .footer-main{
    display: flex;
    flex-flow: row wrap;
    position: relative;
    width: auto;
    margin: 2rem;
}
footer .footer-logo{
    display: block;
    justify-content: center;
    text-align: center;
    margin: 2rem;
}
footer .footer-link{
    text-align: left;
    margin: 2rem;
}
footer .footer-contact{
    margin: 2rem;
}
footer .footer-qrcode{
    margin: 2rem;
}


@media (min-width: 992px) {

}
@media (max-width: 991px) {
    footer .footer-logo{
        margin: 2rem auto;
    }
    footer .footer-link{
        margin: 2rem;
    }
    footer .footer-contact{
        margin: 2rem auto;
    }
    footer .footer-qrcode{
        margin: 2rem auto;
    }


}