footer {
    background-color: #8E5AFF;
}
footer .footer-main{
    padding: 2rem 0 0 0;
    background-color: #8E5AFF;
    width: auto;
    height: auto;
    line-height: 1.2;
    font-weight: 600;
    font-family: 'Mali', cursive;
}
footer .footer-logo {
    display: block;
    color: #ffffff;
    margin: 0 auto;
    text-align: center;
}
footer .footer-logo img{
    display: block;
    width: auto;
    margin: 0 auto;
}
footer .footer-link {
    display: block;
    margin: 0 auto;
}
footer .footer-contact {
    display: block;
    color: #ffffff;
    margin: 0 auto;
}
footer .footer-contact h1,h2,h3,h4,h5,h6{
    margin: 1rem auto;
    color: #ffffff;
    font-weight: 700;
}
footer .footer-contact i{
    color: #ffffff;
    text-align: center;
    background-color: #ff6801;
    width: 40px;
    height: 40px;
    line-height: 1.8;
    border-radius: 36px;
}
footer .footer-contact .footer-icons i{
    margin: 2% auto;
    width: 48px;
    height: 48px;
    border-radius: 12px;
}
footer .footer-contact .footer-icons .fa-facebook{
    background-color: #1877f2;
}
footer .footer-contact .footer-icons .fa-youtube-play{
    background-color: #ff0000;
}
footer .footer-qrcode {
    display: block;
    color: #ffffff;
    margin: 0 auto;
    text-align: center;
}
footer .footer-qrcode img{
    width: auto;
}
@media (min-width: 992px) {
    footer .footer-logo {
        display: block;
        color: #ffffff;
        font-size: 22px;
        margin: 0 auto;
        text-align: center;
    }
    footer .footer-logo img{
        display: block;
        height: 160px;
        margin: 0 auto;
    }
    footer .footer-link {
        display: block;
        margin: 0 auto;
    }
    footer .footer-link .list_jigsaw{
        margin: 12% 20% ;
    }
    footer .footer-contact {
        display: block;
        color: #ffffff;
        font-size: 24px;
    }
    footer .footer-contact h1,h2,h3,h4,h5,h6{
        margin-left: 94px;
        color: #ffffff;
        font-weight: 700;
    }
    footer .footer-contact i{
        color: #ffffff;
        text-align: center;
        background-color: #ff6801;
        width: 40px;
        height: 40px;
        line-height: 1.8;
        border-radius: 36px;
    }
    footer .footer-contact .footer-icons i{
        margin: 2% auto;
        font-size: 28px;
        width: 48px;
        height: 48px;
        border-radius: 12px;
    }
    footer .footer-contact .footer-icons .fa-facebook{
        background-color: #1877f2;
    }
    footer .footer-contact .footer-icons .fa-youtube-play{
        background-color: #ff0000;
    }
    footer .footer-qrcode {
        display: block;
        color: #ffffff;
        margin: 0 auto;
        text-align: center;
    }
    footer .footer-qrcode img{
        height: 320px;
        width: auto;
    }
}
@media (max-width: 991px) {
    footer .footer-logo {
        display: block;
        color: #ffffff;
        font-size: 24px;
        margin: 0 auto;
        text-align: center;
    }
    footer .footer-logo img{
        display: block;
        height: 200px;
        margin: 0 auto;
    }
    footer .footer-link {
        display: block;
    }
    footer .footer-link .list_jigsaw ul{
        margin: 0 auto;
    }
    footer .footer-contact {
        display: block;
        color: #ffffff;
        margin: 0 auto;
        font-size: 20px;
        text-align: center;
    }
    footer .footer-contact h1,h2,h3,h4,h5,h6{
        margin: 1rem auto;
        color: #ffffff;
        font-weight: 700;
    }
    footer .footer-contact i{
        color: #ffffff;
        text-align: center;
        background-color: #ff6801;
        width: 36px;
        height: 36px;
        line-height: 1.8;
        border-radius: 36px;
    }
    footer .footer-contact .footer-icons i{
        margin: 2% auto;
        font-size: 28px;
        width: 48px;
        height: 48px;
        border-radius: 12px;
    }
    footer .footer-contact .footer-icons .fa-facebook{
        background-color: #1877f2;
    }
    footer .footer-contact .footer-icons .fa-youtube-play{
        background-color: #ff0000;
    }
    footer .footer-qrcode {
        display: block;
        color: #ffffff;
        margin: 0 auto;
        text-align: center;
    }
    footer .footer-qrcode img{
        height: 320px;
        width: auto;
    }
}
@media screen and (min-device-width: 992px) and (max-device-width: 1350px) {
    footer .footer-logo {
        font-size: 20px;
    }
    footer .footer-logo img{
        height: 152px;
    }
    footer .footer-link {
        display: block;
        margin: 0 auto;
    }
    footer .footer-link .list_jigsaw ul li{
        font-size: 18px;
    }
    footer .footer-contact {
        display: block;
        color: #ffffff;
        margin: 0 auto;
        font-size: 16px;
    }
    footer .footer-contact h1,h2,h3,h4,h5,h6{
        margin: 1rem auto;
        text-align: center;
        color: #ffffff;
        font-weight: 700;
    }
    footer .footer-contact i{
        color: #ffffff;
        text-align: center;
        background-color: #ff6801;
        width: 28px;
        height: 28px;
        font-size: 16px;
        line-height: 1.8;
        border-radius: 36px;
    }
    footer .footer-contact .footer-icons i{
        margin: 2% auto;
        font-size: 20px;
        width: 32px;
        height: 32px;
        border-radius: 12px;
    }
    footer .footer-contact .footer-icons .fa-facebook{
        background-color: #1877f2;
    }
    footer .footer-contact .footer-icons .fa-youtube-play{
        background-color: #ff0000;
    }
    footer .footer-qrcode {
        display: block;
        color: #ffffff;
        margin: 0 auto;
        text-align: center;
    }
    footer .footer-qrcode img{
        height: 240px;
        width: auto;
    }
}
@media screen and (min-device-width: 200px) and (max-device-width: 360px) {
    footer .footer-link .list_jigsaw{
        margin-right: 30%;
    }
}

