/*** Mixins & Default Styles ***/
@import url('https://fonts.googleapis.com/css2?family=Mali:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&display=swap');
body{
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Mali', cursive;
}
* {
    margin: 0;
    padding: 0;
}
i {
    margin-right: 10px;
}
h1,h2,h3,h4,h5.h6 {
    color: #9433f0;
}
span {
    color: #ff6801;
}
.container {
    background-color:#fbfbfb;
}
/*----------------------------
---- start banner section ----
-----------------------------*/
.banner {
    min-height: 620px;
    border-radius: 12px;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner .left{
    position: relative;
    font-family: 'Mali', cursive;
}
.banner .right{
    position: relative;
}
.banner .left span{
    font-weight: bolder;
}
.banner .left h1{
    text-align: center;
    font-weight: bold;
    font-family: 'IBM Plex Sans Thai', sans-serif;
}
.banner .left p{
    color: #9433f0;
    line-height: 1.52;
    font-weight: 900;
    font-family: 'Mali', cursive;
}
.banner .left img{
    width: auto;
    padding: 4%;
}
.banner .right img{
    width: auto;
}
/*----------------------------
---- end banner section ----
-----------------------------*/
/*----------------------------
---- start objective section -
-----------------------------*/
.objective {
    min-height: 420px;
    width: auto;
    margin-top: 12%;
    font-family: 'Mali', cursive;
}
.objective h1,span{
    font-weight: bolder;
    margin: 3%;
}
.objective .left {
    position: relative;
    padding: 8%;
}
.objective .right {
    position: relative;
    padding-left: 10%;
    padding-bottom: 4%;
}
.objective .left img,iframe{
    width: 480px;
    height: 300px;
}
.objective .left img {
    position: absolute;
    width: 500px;
    height: 320px;
    margin: -2%;
}
.object .left iframe{
    position: relative;
}
/*----------------------------
---- end objective section ---
-----------------------------*/
/*----------------------------
---- start review section ---
-----------------------------*/
.review {
    min-height: 280px;
    border-radius: 12px;
    background-color: #8FA1FF;
    font-family: 'Mali', cursive;
}
.review span{
    color: #8E5AFF;
}
.review h1,h2{
    color: #ffffff;
    text-align: center;
}
.review p{
    color: #ffffff;
    line-height: 1.52;
    font-size: 26px;
}
.review img {
    height: 120px;
    width: 120px;
}
/*----------------------------
---- end review section -----
-----------------------------*/
/*----------------------------
---- start character section -
-----------------------------*/
.character {
    min-height: 900px;
    font-family: 'Mali', cursive;
}
/*----------------------------
---- end character section ---
-----------------------------*/

/*----------------------------
---- start character-pre -
-----------------------------*/
.characterabout {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    margin: 8% 0%;
}
.box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin:2%;
    box-shadow: 0 20px 30px rgba(0,0,0,.1);
    line-height: 0;
    height: fit-content;
}
.box > img {
    width: 100%;
    height: calc(70% - 10vh);
    object-fit: cover;
    transition: .5s;
}
.box > span {
    font-size: 3.8vh;
    color: black;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.6;
}
.box:hover { flex: 1 1 10%; }
.box:hover > img {
    width: 100%;
    height: 100%;
}
/*----------------------------
---- end character-pre -
-----------------------------*/
/*----------------------------
---- start talk-with-us  -------
-----------------------------*/
.talk-with-us{
    font-family: 'Mali', cursive;
}
.talk-with-us span{
    color: #ff6801;
}
/*----------------------------
---- end talk-with-us  -------
-----------------------------*/
/*----------------------------
---- start talk-header  -------
-----------------------------*/
.talk-header{
    min-height: 90px;
    width: auto;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: #8E5AFF;
    background-size: cover;
    background-position: center;
}
.talk-header .logo{
    height: 60px;
    width: 60px;
    margin-right: 12px;
}
.talk-header .left{
    padding: 2%;
}
.talk-header .right{
    padding: 3%;
}
.talk-header h1,h2,h3,h4,h5,h6{
    color: #ffffff;
    font-weight: bolder;
}
.talk-header i{
    color: #ffffff;
    width: 28px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    background-color: #ff6801;
    border-radius: 50%;
    font-size: 20px;
}
/*----------------------------
---- end talk-header  -------
-----------------------------*/
/*----------------------------
---- start talk-talk  -------
-----------------------------*/
.talk-talk .name{
    color: #616161;
    font-weight: bolder;
}
.talk-talk .team{
    display: flex;
    margin: 2%;
}
.talk-talk .teambyme{
}
.talk-talk .team-img{
    width: 90px;
    margin: 2%;
}
.talk-talk img{
    position: absolute;
    bottom: 12px;
    width: auto;
    height: 90px;
}
.talk-talk p {
    display: block;
    border-radius: 1.15rem;
    line-height: 1.25;
    max-width: 65%;
    padding: 0.5rem .875rem;
    position: relative;
    word-wrap: break-word;
    font-size: 24px;
}
.talk-talk p::before,
.talk-talk p::after {
    bottom: -0.1rem;
    content: "";
    height: 1rem;
    position: absolute;
}
p.from-them {
    align-items: flex-start;
    background-color: #8E5AFF;
    color: #eeeeee;
}
p.from-them:before {
    border-bottom-right-radius: 0.8rem 0.7rem;
    border-left: 1rem solid #8E5AFF;
    left: -0.35rem;
    transform: translate(0, -0.1rem);
}
p.from-them::after {
    background-color: #eeeeee;
    border-bottom-right-radius: 0.5rem;
    left: 20px;
    transform: translate(-30px, -2px);
    width: 10px;
}
p.from-me {
    align-self: flex-end;
    background-color: #ff6801;
    color: #fff;
}
p.from-me::before {
    border-bottom-left-radius: 0.8rem 0.7rem;
    border-right: 1rem solid #ff6801;
    right: -0.35rem;
    transform: translate(0, -0.1rem);
}

p.from-me::after {
    background-color: #eeeeee;
    border-bottom-left-radius: 0.5rem;
    right: -40px;
    transform:translate(-30px, -2px);
    width: 10px;
}
/*----------------------------
---- end talk-talk  -------
-----------------------------*/
/*----------------------------
---- start talk-tailing  -------
-----------------------------*/
.talk-tailing{
    min-height: 90px;
    width: auto;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: #8E5AFF;
    background-size: cover;
    background-position: center;
}
.talk-tailing i{
    color: #ffffff;
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 38px;
    background-color: #ff6801;
    border-radius: 50%;
    font-size: 26px;
}
/*----------------------------
---- end talk-tailing  -------
-----------------------------*/
/*----------------------------
---- start popularity  -------
-----------------------------*/
.popularity {
    margin-top: 8%;
    margin-bottom: 8%;
    font-family: 'Mali', cursive;
    background-image: url("../imgs/popularity.jpg");
    background-size: cover;
    border-radius: 8px;
}
.popularity h2{
    background-image: url("../imgs/txt-paint.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: black;
    font-weight: 900;
    padding: 10%;
}
.popularity .character-with-us{
    display: flex;
    position: relative;
    height: 380px;
}
.popularity img{
    position: absolute;
    height: 380px;
    width: auto;
}
.popularity .tody{
    margin-left: 16%;
}
.popularity .teena{
    margin-left: 16%;
}
.popularity .peemo{
    margin-left: 16%;
}
/*----------------------------
---- end popularity  -------
-----------------------------*/

.frame{
    border-radius: 25px;
    border: 2px solid black;
    padding: 40px;
    margin: 3%;
    width: fit-content;
    height: 5%;
    color: black;
    font-size: 20px;
    font-family: 'Mali', cursive;
    text-align: center;
}
/*----------------------------
---- end about ---
-----------------------------*/
/*----------------------------
---- start article ---
-----------------------------*/
.blocknextbit img{
    height: 200px;
    margin-top: 5%;
}
.blockleft > img{
    height: 200px;
    margin: 3%;
}
.blockright  img{
    height: 200px;
    margin-top: 20%;
}
.articleimg {
    width: 100%;
    margin-top: 12%;
}
.btn {
    text-align: center;
    min-width:220px;;
    font-weight: 600;
    letter-spacing:1px;
}
.container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #555;
    font-size: 20px;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    font-family: 'Mali', cursive;

}
.container .btn a{
    color: white;
    text-decoration: none;
    font-family: 'Mali', cursive;
}
.all-article {
    margin: 5% 0;
    padding: 5px;
    background-color: lightgray;
}

.all-article > h1, .article {
    margin: 10px;
    padding: 20px;
}

.article {
    display: block;
    background: white;
}

.article > img {
    float: left;
    margin: 32px 24px 24px 0;
    padding: 3.2px 0 0;
    max-width: 30%;
    height: auto;
}
.message{
    display: block;
    font-family: 'Mali', cursive;
}
.message > p, a{
    margin: 8px;
    font-size: 24px;
}
.message > h2{
    margin: 8px;
    font-size: 36px;
}
/*----------------------------
---- end article ---
-----------------------------*/
/*----------------------------
---- start list-jigsaw section
-----------------------------*/
.list_jigsaw ul li {
    list-style: none;
    line-height: 1.52;
    padding: 2%;
    position: relative;
    font-size: 26px;
    font-weight: 600;
    font-family: 'Mali', cursive;
}
.list_jigsaw ul li:before {
    content: "";
    position: absolute;
    margin-top: 0px;
    margin-left: -48px;
    display: inline-block;
    height: 30px;
    width: 30px;
    background-size: contain;
    background-image: url("../imgs/icons/icon_jigsaw.png");
}
.list_jigsaw a{
    color: #ffffff;
}
/*----------------------------
---- end list-jigsaw section
-----------------------------*/

@media(min-width: 992px) {
    /*----------------------------
    ---- start banner section ----
    -----------------------------*/
    .banner {
        padding-top: 14%;
        background-image: url("../imgs/banner1.png") ;
    }
    .banner .left {
        padding-left: 2%;
    }
    .banner .left p{
        padding: 3%;
        font-size: 24px;
    }
    .banner .left img{
        position: relative;
        display: block;
        margin: 0 auto;
        margin-top: -40%;
        height: 380px;
    }
    .banner .right img{
        height: 520px;
        margin-left: -24%;
    }
    /*----------------------------
    ---- end banner section -----
    -----------------------------*/
    /*----------------------------
    ---- start about ---
    -----------------------------*/
    .picture{
        width: 100%;
    }
    /*----------------------------
    ---- start character-pre -
    -----------------------------*/
    .characterabout {
        height: 400px;
        display: flex;
        box-sizing: border-box;
    }
    .character-pre{
        padding-top: 8%;
        border-radius: 12px;
        background-image: url("../imgs/bg-character1.png");
        background-size: cover;
        font-weight: bolder;
        font-family: 'Mali', cursive;
    }
    .character-pre h1{
        color: #8E5AFF;
        font-weight: 900;
        text-align: center;
        background-size: 70%;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../imgs/txt-paint.png");

    }
    .box {
        flex: 1;
        height: fit-content;
        line-height: 0;
        transition: .5s;
        border-radius: 18px;
        background-color:  #ff8a3b;
        box-shadow: 0 20px 30px rgba(0,0,0,.1);
        overflow: hidden;
    }

    .box > img {
        width: 100%;
        height: calc(70% - 10vh);
        object-fit: cover;
        transition: .5s;
    }

    .box > span {
        font-size: 24px;
        color:  #ffffff;
        display: block;
        text-align: center;
        height: 10vh;
        line-height: 2.6;
    }

    /*----------------------------
    ---- end character-pre -
    -----------------------------*/

    .frame{
        display: inline-block;
        border-radius: 25px;
        border: 2px solid black;
        padding: 8px;
        width: fit-content;
        height: 5%;
        color: black;
        font-size: 12px;
        font-family: 'Mali', cursive;
        text-align: center;
    }
    /*----------------------------
    ---- start talk-with-us  -------
    -----------------------------*/
    .talk-with-us .character-with-chat{
        display: flex;
        max-height: 400px;
    }
    .talk-with-us .character-with-chat img{
        display: block;
        position: absolute;
        width: auto;
        height: 400px;
    }
    .talk-with-us .character-with-chat .tody{
        margin-top: -40% ;
        margin-left: -15%;
    }
    .talk-with-us .character-with-chat .peemo{
        margin-top: -70%;
        margin-left: 92%;
    }
    .talk-with-us .character-with-chat .teena{
        margin-top: -120%;
        margin-left: -87%;
    }
    /*----------------------------
    ---- end talk-with-us -------
    -----------------------------*/
    /*----------------------------
    ---- start talk-tailing  -------
    -----------------------------*/
    .talk-tailing .left{
        margin-top: 3%;
        margin-left: 3%;
    }
    .talk-tailing .right{
        margin-top: 3%;
        margin-left: 3%;
    }
    /*----------------------------
    ---- end talk-tailing  -------
    -----------------------------*/
}
@media(max-width: 991px) {
    /*----------------------------
    ---- start banner section ----
    -----------------------------*/
    .banner {
        padding-top: 16%;
        background-image: url("../imgs/banner2.png");
    }
    .banner .left{
        padding-top:12%;
    }
    .banner .left p{
        padding: 8%;
        font-size: 20px;
    }

    .banner .left img{
        height: 240px;
        display: block;
        margin: 0 auto;
    }
    .banner .right img{
        position: relative;
        height: 320px;
        display: block;
        margin: 0 auto;
    }
    /*----------------------------
    ---- end banner section ------
    -----------------------------*/
    /*----------------------------
    ---- start objective section -
    -----------------------------*/
    .objective h1,span{
        font-size: 32px;
    }
    .objective .left img,iframe{
        display: block;
        height: 220px;
        width: auto;
        margin: 0 auto;
    }
    .objective .left img {
        position: absolute;
        height: 220px;
        width: auto;
        margin-left: -3%;
    }
    .object .left iframe{
        position: relative;
    }
    .objective .left {
        position: relative;
    }
    .objective .right {
        position: relative;
        padding: 12px;
    }
    /*----------------------------
    ---- end objective section ---
    -----------------------------*/
    /*----------------------------
    ---- start list-jigsaw section ---
    -----------------------------*/
    .list_jigsaw ul li {
        list-style: none;
        line-height: 1.52;
        left: 6%;
        padding: 2%;
        position: relative;
        font-size: 20px;
        font-weight: 600;
        font-family: 'Mali', cursive;
    }
    .list_jigsaw ul li:before {
        content: "";
        position: absolute;
        margin-top: 0px;
        margin-left: -38px;
        display: inline-block;
        height: 30px;
        width: 30px;
        background-size: contain;
        background-image: url("../imgs/icons/icon_jigsaw.png");
    }
    .footer .list_jigsaw{
        padding-left: 20%;
        padding-bottom: 8%;
    }
    /*----------------------------
    ---- end list-jigsaw section ---
    -----------------------------*/
    /*----------------------------
    ---- start review section -
    -----------------------------*/
    .review {
        min-height: 280px;
    }
    .review span{
        font-size: 30px;
    }
    .review h1,h2{
        font-size: 30px;
    }
    .review p{
        padding: 4%;
        font-size: 20px;
    }
    .review img {
        height: 80px;
        width:  80px;
    }
    /*----------------------------
    ---- end review section -
    -----------------------------*/
    /*----------------------------
    ---- start about -
    -----------------------------*/
    .picture{
        width: 100%;
    }
    .introduceline {
        position: relative;
    }
    .container .introduceline > img{
        width: 100%;
        height: 1480px;
    }
    /*----------------------------
    ---- start character-pre -
    -----------------------------*/
    .characterabout {
        display: flex;
        width: 100%;
        box-sizing: border-box;
        margin: 18% 0% 10%;
    }
    .character-pre{
        padding-top: 4%;
        max-height: 500px;
        border-radius: 12px;
        background-image: url("../imgs/bg-character1.png");
        background-size: cover;
        font-weight: bolder;
        font-family: 'Mali', cursive;
    }
    .character-pre h1{
        color: #8E5AFF;
        font-size: 20px;
        font-weight: 900;
        text-align: center;
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../imgs/txt-paint.png");

    }
    .box {
        flex: 1;
        height: fit-content;
        line-height: 0;
        transition: .5s;
        border-radius: 12px;
        background-color:  #ff8a3b;
        box-shadow: 0 20px 30px rgba(0,0,0,.1);
        overflow: hidden;
    }
    .box > img {
        width: 100%;
        height: calc(70% - 10vh);
        object-fit: cover;
        transition: .5s;
    }
    .box > span {
        font-size: 12px;
        color:  #ffffff;
        display: block;
        text-align: center;
        height: 10vh;
        line-height: 2.6;
    }
    .box:hover { flex: 1 1 10%; }
    .box:hover > img {
        width: 100%;
        height: 100%;
    }
    /*----------------------------
    ---- end character-pre -
    -----------------------------*/
    /*----------------------------
    ---- start talk-with-us  -------
    -----------------------------*/
    .talk-with-us .character-with-chat{
        display: flex;
        position: relative;
        height: 400px;
    }
    .talk-with-us .character-with-chat img{
        display: block;
        position: absolute;
        width: auto;
        height: 200px;
    }
    .talk-with-us .character-with-chat .tody{
        margin-left: -8%;
    }
    .talk-with-us .character-with-chat .peemo{
        margin-left: 30%;
    }
    .talk-with-us .character-with-chat .teena{
        margin-left: 30%;
    }
    /*----------------------------
    ---- end talk-with-us -------
    -----------------------------*/
    /*----------------------------
    ---- start talk-talk  -------
    -----------------------------*/
    .talk-talk .name{
        color: #616161;
        font-weight: bolder;
    }
    .talk-talk .team{
        display: flex;
        margin: 2%;
    }
    .talk-talk .team-img{
        width: 60px;
    }
    .talk-talk img{
        position: absolute;
        bottom: 12px;
        width: auto;
        height: 60px;
    }
    .talk-talk p {
        margin-left: 15%;
        display: block;
        border-radius: 1.15rem;
        line-height: 1.25;
        max-width: 100%;
        padding: 0.5rem .875rem;
        position: relative;
        word-wrap: break-word;
        font-size: 16px;
    }
    .talk-talk p::before,
    .talk-talk p::after {
        bottom: -0.1rem;
        content: "";
        height: 1rem;
        position: absolute;
    }
    /*----------------------------
    ---- end talk-talk  -------
    -----------------------------*/

    /*----------------------------
---- start talk-tailing  -------
-----------------------------*/
    .talk-tailing{
        min-height: 90px;
        width: auto;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        background-color: #8E5AFF;
        background-size: cover;
        background-position: center;
    }
    .talk-tailing i{
        color: #ffffff;
        width: 28px;
        height: 28px;
        text-align: center;
        line-height: 28px;
        background-color: #ff6801;
        border-radius: 50%;
        font-size: 20px;
    }
    .talk-tailing .left{
        margin-top: 3%;
        margin-left: 3%;
    }
    .talk-tailing .right{
        margin-top: 3%;
        margin-left: 3%;
    }
    /*----------------------------
    ---- end talk-tailing  -------
    -----------------------------*/
    .frame{
        display: inline-block;
        border-radius: 25px;
        border: 2px solid black;
        padding: 6px;
        width: fit-content;
        height: 5%;
        color: black;
        font-size: 14px;
        font-family: 'Mali', cursive;
        text-align: center;
    }

}
