/*** Mixins & Default Styles ***/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
body{
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Kanit', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
i {
    margin-right: 10px;
}
h1 {
    font-family: 'Kanit', sans-serif;
    color: #9433f0;
}

span {
    font-family: 'Kanit', sans-serif;
    font-weight: bolder;
    color: #ff6801 ;
}

.container {
    /*background-color: #b1beff;*/
}
.banner {
    min-height: 600px;
}
.banner .container {
    max-height: 620px;
    /*background-color: #FDBF9C;*/
    background-image: url("../imgs/banner.png");
    background-size: 100% ;
    background-repeat: no-repeat ;
    border-radius: 12px;
}
.banner p{
    font-family: 'Kanit', sans-serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.27;
    margin: 12px;
    margin-left: 24px;
    color: #9433f0;
}
.banner h1 {
    font-family: 'Kanit', sans-serif;
    font-weight: 820;
    text-align: center;
    color: #9433f0;
}
.banner img {
    height: 100%;
    width: 100%;
    margin-top: 78px;
}
.banner .slime {
    font-family: 'Kanit', sans-serif;
    padding: 12px;
    margin-left: 25%;
}

/*objective section*/
.objective {
    min-height: 240px;
    margin-top: 108px ;
    margin-left: 12px ;
}
.objective .left-image img{
    margin-top: 5px;
    position: absolute;
    width: 100%;
    height: 108%;
    margin-top: -16px;
    margin-left: -16px;
}
.objective .right-explain {
    position: relative;
    padding: 12px;
    margin-top: -128px ;
    margin-left: 36px;
}

.review {
    min-height: 280px;
    background-color: #8FA1FF;
    border-radius: 12px;
    font-family: 'Kanit', sans-serif;
}
.review h2{
    color: #fff;
}
.review p{
    color: #fff;
}
.review img {
    height: 100px;
    width: 100px;
}

.character {
    font-family: 'Kanit', sans-serif;
    min-height: 900px;
    margin-top: -224px;
}
/*.list_jigsaw ul {*/
/*    list-style-image: url("../imgs/icons/icon_jigsaw.png");*/
/*}*/
.list_jigsaw ul li {
    list-style: none;
    padding: 4px;
    padding-left: 50px;
    position: relative;

    font-family: 'Kanit', sans-serif;
    font-size: 20px;
}
.list_jigsaw ul li:before {
    content: "";
    position: absolute;
    margin-top: 0px;
    margin-left: -52px;
    display: inline-block;
    height: 30px;
    width: 30px;
    background-size: contain;
    background-image: url("../imgs/icons/icon_jigsaw.png");
}
.picture{
    width: 100%;
}
.container2 {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    height: 100vh;
    margin: 5% 0%;
}

.box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(0,0,0,.1);
    line-height: 0;
}

.box > img {
    width: 100%;
    height: calc(70% - 10vh);
    object-fit: cover;
    transition: .5s;
}

.box > span {
    font-size: 3.8vh;
    color: black;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.6;
}

.box:hover { flex: 1 1 20%; }
.box:hover > img {
    width: 100%;
    height: 100%;
}
.blocknextbit{
    display: flex;
    width: 80%;
    margin: 5% 10% ;
    justify-content: right;
}
.blockleft{
    display: flex;
    width: 80%;
    margin: 5%;
    justify-content: left;
}
.blockright{
    display: flex;
    width: 80%;
    margin: 5% 10% ;
    justify-content: right;
}
.frame{
    border-radius: 25px;
    border: 2px solid black;
    padding: 40px;
    margin: 3%;
    width: fit-content;
    height: 5%;
    color: black;
    font-size: 20px;
    font-family: 'Mali', cursive;
    text-align: center;
}
.blocknextbit img{
    height: 200px;
    margin-top: 5%;
}
.blockleft > img{
    height: 200px;
    margin: 3%;
}
.blockright  img{
    height: 200px;
    margin-top: 20%;
}
.articleimg {
    width: 100%;
    margin-top: 12%;
}
.btn {
    text-align: center;
    min-width:220px;;
    font-weight: 600;
    letter-spacing:1px;
}
.container .btn {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #555;
    font-size: 20px;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    font-family: 'Mali', cursive;

}
.container .btn a{
    color: white;
    text-decoration: none;
    font-family: 'Mali', cursive;
}
.all-article {
    margin: 5% 0;
    padding: 5px;
    background-color: lightgray;
}

.all-article > h1, .article {
    margin: 10px;
    padding: 20px;
}

.article {
    display: block;
    background: white;
}

.article > img {
    float: left;
    margin: 32px 24px 24px 0;
    padding: 3.2px 0 0;
    max-width: 30%;
    height: auto;
}
.message{
    display: block;
    font-family: 'Mali', cursive;
}
.message > p, a{
    margin: 8px;
    font-size: 24px;
}
.message > h2{
    margin: 8px;
    font-size: 36px;
}
@media(max-width: 992px) {

    .picture{
        width: 100%;
    }
    .blocknextbit{
        display: flex;
        width: 80%;
        margin: 16% 12% 4%;
        justify-content: right;
    }
    .blockleft{
        display: flex;
        width: 80%;
        margin: 2%;
        justify-content: left;
    }
    .blockright{
        display: flex;
        width: 80%;
        margin: 4% 16%;
        justify-content: right;
    }
    .frame{
        display: inline-block;
        border-radius: 25px;
        border: 2px solid black;
        padding: 10px;
        width: fit-content;
        height: 5%;
        color: black;
        font-size: 16px;
        font-family: 'Mali', cursive;
        text-align: center;
    }
    .blocknextbit img{
        height: 100px;
        margin: 2%;
    }
    .blockleft > img{
        height: 100px;
        margin: 2%;
    }
    .blockright  img{
        height: 100px;
        margin: 2%;
    }

}
